In [2]:
#shift + enter

print("Hello world!")

Hello world!

In [3]:
print("another")

another

In [4]:
a = 10

In [5]:
print(a)

10

In [6]:
type(a)

int

In [7]:
a = "cool"

In [8]:
print(a)

cool

In [9]:
type(a)

str

In [10]:
a = 5.6

In [11]:
print(a)

5.6

In [12]:
type(a)

float

Conditional Statements

In [13]:
a = 9

if a>10:
    print("a is greater than 10")
elif a<5:
    print("a is smaller than 5")
else:
    print("no case")

no case

In [14]:
a = 11

if a>10:
    print("a is greater than 10")
elif a<5:
    print("a is smaller than 5")
else:
    print("no case")

a is greater than 10

In [15]:
a = 4

if a>10:
    print("a is greater than 10")
elif a<5:
    print("a is smaller than 5")
else:
    print("no case")

a is smaller than 5

Iterations

In [16]:
i =0

while i<10:
    print(i, end=", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [17]:

for i in range(3, 21):
    if i%2!=0:
        print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

In [18]:

for i in range(3, 21, 2 ):
    print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

Functions

In [19]:
## this is a comment

In [20]:
def func_name(a,b):
    print("hello from function")
    print( a*b )

In [21]:
func_name(10,4)

hello from function
40

In [22]:
def func_name(a,b):
    print("hello from function")
    print( a+b )

In [23]:
func_name(10,20)

hello from function
30

In [33]:
def func_name(a,b):
    print("hello from function")
    print( a/b )

In [34]:
func_name(7,2)

hello from function
3.5

# Data Structures
list
tuple
dictionary
set

In [36]:
li = [5,7,2,9,10,1]

In [37]:
print(li)

[5, 7, 2, 9, 10, 1]

In [38]:
type(li)

list

In [39]:
li[0]

5

In [40]:
li[5]

1

In [41]:
li[-1]

1

In [42]:
li[-2]

10

In [43]:
li[1:4]

[7, 2, 9]

In [44]:
st = "this is a string"

In [45]:
st[1 : 11]

'his is a s'

In [46]:
li2 = ["String", False, 5,8,2, 5.0]

In [47]:
print(li2)

['String', False, 5, 8, 2, 5.0]

In [48]:
type(li2)

list

# tuple

In [49]:
t = (6,8,2,90)

In [50]:
t[0]

6

In [51]:
t[100]

IndexError: tuple index out of range

# Dictionary

In [52]:
dic = {
    "samosa" : 10,
    "burger" : 20,
    "pizza" : 50
}

In [53]:
dic["samosa"]

10

In [54]:
dic["pizza"]

50

In [55]:
dic['juice']  = [10, 20, 30]

In [56]:
dic

{'samosa': 10, 'burger': 20, 'pizza': 50, 'juice': [10, 20, 30]}

In [57]:
dic['juice']

[10, 20, 30]

In [58]:
dic['fruits'] = {
    'litchi' : 30,
    'mango' : 20,
    'banana' : 50
}

In [59]:
dic

{'samosa': 10,
 'burger': 20,
 'pizza': 50,
 'juice': [10, 20, 30],
 'fruits': {'litchi': 30, 'mango': 20, 'banana': 50}}

In [60]:
dic['fruits']['mango']

20