# Variables

In [1]:
a = 10

In [2]:
print(a)

10

In [4]:
a = "Radha"

In [5]:
len(a)

5

# Data Structure
    List
    Tuple
    Set
    Dictionary

# List

In [7]:
List = [1,2,3,4,5]

In [8]:
L_one = [1,2,3,4,5,6,7,8,9]

In [9]:
print(L_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
L_one[0]

1

In [11]:
L_one[5]

6

In [12]:
L_one[0:5]

[1, 2, 3, 4, 5]

To add anything to the list, will use append function
#Append Function

In [13]:
L_one.append("The thing that I want to append")

In [14]:
print(L_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'The thing that I want to append']

In [15]:
L_one.append(10)

In [16]:
print(L_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'The thing that I want to append', 10]

In [17]:
L_one.append(10)

In [18]:
print(L_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'The thing that I want to append', 10, 10]

In [19]:
L_one.append(10)

In [20]:
L_one.append(10)

In [21]:
L_one.append(10)

In [22]:
print(L_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'The thing that I want to append', 10, 10, 10, 10, 10]

#Remove Function

In [23]:
L_one.remove(1)

In [24]:
L_one

[2, 3, 4, 5, 6, 7, 8, 9, 'The thing that I want to append', 10, 10, 10, 10, 10]

In [25]:
L_one.remove(5)

In [26]:
L_one

[2, 3, 4, 6, 7, 8, 9, 'The thing that I want to append', 10, 10, 10, 10, 10]

In [27]:
L_one.remove(10)

In [28]:
L_one

[2, 3, 4, 6, 7, 8, 9, 'The thing that I want to append', 10, 10, 10, 10]

Lists are Mutable - We could remove & add
#Tuples are Immutable - We can't

In [29]:
T_one = (1,2,3,4)

In [30]:
T_one

(1, 2, 3, 4)

#Lists are mutable

In [46]:
test_list = [1,2,3]

In [48]:
id(test_list)  //To find address of the memory location

4473474176

In [49]:
test_list[0] = "Python"

In [50]:
test_list

['Python', 2, 3]

In [51]:
id(test_list)

4473474176

O/p will give same address of the memory location

# Tuples are immutable

In [54]:
test_tuple = (1,2,3)

In [55]:
id(test_tuple)

4473513696

In [60]:
test_tuple = ("Python", 2,3)

In [61]:
id(test_tuple)

4471240656

O/p will give different addresses of memory location. Both addresses are different.

Why do we need mutable & immutable?
1. creating a list --> Faster --> mutable. It won't create another memory location. 
2. creating tuple --> easy to debug --> to remove errors tuples are good.
3. Memory efficient
   Tuple- more Efficient.  List- less efficient
   occupies Less mem .     occupies More mem   
Both mutability and immutability have their own advantages & disadvantages.

# Set

In [62]:
# Set : Unique collection of elements

There are 2 ways to make set

1. Create

In [64]:
A = {1,2,3,4}

2. convert list into a set

In [79]:
L = [4,5,6]

In [80]:
set(L)

{4, 5, 6}

Applications of set:
    Mutable - We can change the elements
    We can access the set elements like lists by writing index
    Set no duplicate elements
    set([4,4,3,2])  conv list --> set 
    O/p : {4,3,2}   there are no duplicate elmts
    whenever you want to have unique elmts out of lists, this is a good way.

In [81]:
test_set = set(test_list)

In [82]:
test_set

{2, 3, 'Python'}

In [84]:
a = {1,2,3,3,3,3,3,4}

In [85]:
a

{1, 2, 3, 4}

Im Mathematics, Special opearations of set
1. Union
2.Intersection
3. Difference

In [86]:
#Union function

In [92]:
a = {1,2,3,4}
b = {4,5,6}

In [93]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [94]:
a.intersection(b)

{4}

In [95]:
a.difference(b)

{1, 2, 3}

In [96]:
#Dictionary : Unordered collection of data values used to store data values like a map.

In [97]:
List = [2,3,4,5]

In [98]:
d = {'A':10, 'B':20}

In [99]:
d

{'A': 10, 'B': 20}

In [100]:
d['A']

10

In [101]:
d['B']

20

Can combine two lists as well

In [103]:
dict(zip(['A','B','C'], [1,2,3]))

{'A': 1, 'B': 2, 'C': 3}

This zip function assigns all the elements together

How to add elements to dictionary

In [105]:
temp_d = dict(zip(['A','B','C'], [1,2,3]))

In [106]:
temp_d['A'] = 100

In [107]:
temp_d

{'A': 100, 'B': 2, 'C': 3}

To add new key value pair

In [108]:
temp_d['new_key'] = 500

In [109]:
temp_d

{'A': 100, 'B': 2, 'C': 3, 'new_key': 500}

To delete or remove from dictionary

In [111]:
del temp_d['new_key']

In [112]:
temp_d

{'A': 100, 'B': 2, 'C': 3}

In [113]:
temp_d.keys()

dict_keys(['A', 'B', 'C'])

In [114]:
temp_d.values()

dict_values([100, 2, 3])

#pop function removes the function depending upon the key that we had provided & it returns the removed value

In [115]:
temp_d.pop('B')

2

In [116]:
temp_d

{'A': 100, 'C': 3}

In [117]:
temp_d.pop('A')

100

In [118]:
temp_d

{'C': 3}

In [119]:
dict(zip(['A','B','C','D','E','F'],[1,2,3,4,5,6]))

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [120]:
d = dict(zip(['A','B','C','D','E','F'],[1,2,3,4,5,6]))

In [121]:
d.popitem()  //popitem removes last elements in the dictionary

('F', 6)

In [122]:
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [123]:
d.popitem()

('E', 5)

In [124]:
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [125]:
d.popitem()

('D', 4)

In [126]:
d

{'A': 1, 'B': 2, 'C': 3}

In [127]:
d.clear()   //clears all dictionary elements

In [128]:
d

{}

# Conditional Statements

In [206]:
import numpy as np
alpha = 'a'
names = []
for i in range (0,26):
    names.append(alpha)
    alpha = chr(ord(alpha)+1)
ages = np.random.randint(0,60, size=26)
data = dict(zip(names, ages))
print(data)

{'a': 40, 'b': 41, 'c': 42, 'd': 36, 'e': 46, 'f': 21, 'g': 51, 'h': 36, 'i': 30, 'j': 4, 'k': 9, 'l': 39, 'm': 38, 'n': 57, 'o': 1, 'p': 55, 'q': 23, 'r': 31, 's': 38, 't': 58, 'u': 50, 'v': 22, 'w': 54, 'x': 7, 'y': 29, 'z': 13}

In [176]:
name = 'e'
age = data[name]
child = []
teens = []
adults = []
if (age < 13):
    child.append({name:data[name]})
elif (age <18):
    teems.append({name:data[name]})
else:
    adults.append({name:data[name]})

print('Child List:', child)
print('Teens List:', teens)
print('Adults List:', adults)

Child List: [{'e': 8}]
Teens List: []
Adults List: []

# Loops & Functions

In [135]:
for iterator in range(5):
    print("Python")

Python
Python
Python
Python
Python

In [137]:
for iterator in range(5):
    print("Python", iterator)

Python 0
Python 1
Python 2
Python 3
Python 4

In [183]:
child = []
teens = []
adults = []

for iterator in range(26):
  name = names[iterator]
  age = data[name]

  if (age < 13):
    child.append({name:data[name]})
  elif (age <18):
    teens.append({name:data[name]})
  else:
    adults.append({name:data[name]})
    
print('Child List:', child)
print('Teens List:', teens)
print('Adults List:', adults)

Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}]

In [161]:
i = 0
while (i<10):
    print("Python")
    i+=1

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [163]:
i = 0
while (i<200):
    print("Python", i)
    i = i+50
print("Loop ended, current value of i:", i)

Python 0
Python 50
Python 100
Python 150
Loop ended, current value of i: 200

In [165]:
i = 1000
while (i>200):
    print("Python", i)
    i = i-100
print("Loop ended, current value of i:", i)

Python 1000
Python 900
Python 800
Python 700
Python 600
Python 500
Python 400
Python 300
Loop ended, current value of i: 200

Functions

In [166]:
def func():
    print("Python")
    for i in range (5):
        print("Python is COOL!")

In [167]:
func()

Python
Python is COOL!
Python is COOL!
Python is COOL!
Python is COOL!
Python is COOL!

In [171]:
def python_func():
    print("Python")
    for i in range (5):
        print("Python is COOL!", i)

In [172]:
python_func()

Python
Python is COOL! 0
Python is COOL! 1
Python is COOL! 2
Python is COOL! 3
Python is COOL! 4

In [196]:
import numpy as np
def categorize(data_dictionary):
    child = []
    teens = []
    adults = []
    
for iterator in range(26):
  name = names[iterator]
  data_dictionary = {'a': 49, 'b': 17, 'c': 47, 'd': 52, 'e': 8, 'f': 5, 'g': 18, 'h': 55, 'i': 42, 'j': 37, 'k': 34, 'l': 54, 'm': 38, 'n': 13, 'o': 6, 'p': 53, 'q': 0, 'r': 4, 's': 10, 't': 10, 'u': 51, 'v': 13, 'w': 52, 'x': 40, 'y': 4, 'z': 12}
  age = data_dictionary[name]

  if (age < 13):
    child.append({name:data_dictionary[name]})
  elif (age <18):
    teens.append({name:data_dictionary[name]})
  else:
    adults.append({name:data_dictionary[name]})
    
  print('Child List:', child)
  print('Teens List:', teens)
  print('Adults List:', adults)

Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}]
Child List: [{'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}, {'e': 8}, {'f': 5}, {'o': 6}, {'q': 0}, {'r': 4}, {'s': 10}, {'t': 10}, {'y': 4}, {'z': 12}]
Teens List: [{'b': 17}, {'n': 13}, {'v': 13}, {'b': 17}, {'n': 13}, {'v': 13}]
Adults List: [{'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}, {'a': 49}, {'c': 47}, {'d': 52}, {'g': 18}, {'h': 55}, {'i': 42}, {'j': 37}, {'k': 34}, {'l': 54}, {'m': 38}, {'p': 53}, {'u': 51}, {'w': 52}, {'x': 40}]

In [207]:
import numpy as np
alpha = 'a'
names = []
for i in range (0,26):
    names.append(alpha)
    alpha = chr(ord(alpha)+1)
ages = np.random.randint(5,500, size=26)
new_data = dict(zip(names, ages))
print(new_data)

{'a': 313, 'b': 464, 'c': 249, 'd': 8, 'e': 198, 'f': 393, 'g': 437, 'h': 63, 'i': 189, 'j': 313, 'k': 241, 'l': 335, 'm': 25, 'n': 403, 'o': 19, 'p': 416, 'q': 300, 'r': 363, 's': 348, 't': 492, 'u': 115, 'v': 62, 'w': 461, 'x': 31, 'y': 322, 'z': 469}

In [212]:
print(categorize(new_data))

None

In [213]:
def test():
    return 100

print(test())

100

In [217]:
def test():
    return 200    

print(test())

200

In [218]:
a = test()
print(a)

200

In [227]:
import numpy as np
def categorize(data_dictionary):
    
    child = []
    teens = []
    adults = []
    
    for iterator in range(26):
        name = names[iterator]
        data_dictionary = {'a': 49, 'b': 17, 'c': 47, 'd': 52, 'e': 8, 'f': 5, 'g': 18, 'h': 55, 'i': 42, 'j': 37, 'k': 34, 'l': 54, 'm': 38, 'n': 13, 'o': 6, 'p': 53, 'q': 0, 'r': 4, 's': 10, 't': 10, 'u': 51, 'v': 13, 'w': 52, 'x': 40, 'y': 4, 'z': 12}
        age = data_dictionary[name]

    if (age < 13):
       child.append({name:data_dictionary[name]})
    elif (age <18):
        teens.append({name:data_dictionary[name]})
    else:
        adults.append({name:data_dictionary[name]})    
    return [child, teens, adults] 

  #print('Child List:', child)
  #print('Teens List:', teens)
  #print('Adults List:', adults)

In [232]:
categorized_data = categorize(data_dictionary)

In [234]:
print(categorized_data)

[[{'z': 12}], [], []]

# Reading & writing Files

# Reading & writing Files
open('File1.txt', mode)
    There are different modes to read/write files
    1. Read mode - 'r' : Used to read already saved text file 
    2. 'r+' : Read & write mode - You want to read the file & you also get permissions to write file. You use pre existing file here.
    3. 'w' mode : you open file for writing, you'll basically create a new file
    4. 'w+' mode : open files for reading as well as writing - Basically replaces the pre existing file. Create a new file and allow the reading file.
    5. 'a' mode : Append only function. Create a file which doesn't exist for writing.
    6. 'a+'mode : Create a new file and write it as a sort of 'r+' & 'w+' similar
Do this exercise in GoogleColab
https://colab.research.google.com

In [251]:
file_1 = open('File1.txt', 'w')

In [252]:
l = "Python is a good programming language and it's easy to understand"

In [253]:
file_1.write(l)

65

In [254]:
file_1.close()

In [255]:
file_1 = open('File1.txt', 'r')

In [257]:
file_1.read()

"Python is a good programming language and it's easy to understand"

# Numpy & Pandas

Numpy is the collection of numbers, lists, strings etc.

In [2]:
import numpy as np

In [5]:
random_numbers = np.random.randint(0,100, size = 10)

In [6]:
random_numbers

array([19, 76, 62, 85, 99, 35, 72, 18, 54, 27])

In [7]:
np.sum(random_numbers)

547

In [8]:
np.prod(random_numbers)

49824571560825600

To read a csv file

In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("Downloads/titanic3 (1).csv")

In [11]:
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [17]:
data.shape

(1310, 14)

In [18]:
data.iloc[10]   //To get 10th row details

pclass                            1
survived                          0
name         Astor, Col. John Jacob
sex                            male
age                              47
sibsp                             1
parch                             0
ticket                     PC 17757
fare                        227.525
cabin                       C62 C64
embarked                          C
boat                            NaN
body                            124
home.dest              New York, NY
Name: 10, dtype: object

In [40]:
#To select columns
data.T.iloc[8]

0       211.338
1        151.55
2        151.55
3        151.55
4        151.55
         ...
1305    14.4542
1306      7.225
1307      7.225
1308      7.875
1309        NaN
Name: fare, Length: 1310, dtype: object

In [20]:
data["fare"]

0       211.3375
1       151.5500
2       151.5500
3       151.5500
4       151.5500
          ...
1305     14.4542
1306      7.2250
1307      7.2250
1308      7.8750
1309         NaN
Name: fare, Length: 1310, dtype: float64

In [21]:
data[data['fare']<100]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [35]:
data[data['sex'] == 'male']

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN